In [1]:
import re
import pandas as pd

In [2]:
dfT = pd.read_hdf('./data/df_tucholsky_meta.hd5')

FileNotFoundError: File ./data/df_tucholsky_meta.hd5 does not exist

## Export text to Doccano format

In [3]:
dfPart = dfT.copy()# dfT[dfT.year == 1917]

In [4]:
def createMeta(row):
    cols = ['ids','year','title','textLength']
    return {x:row[x] for x in cols}

In [5]:
meta =  dfPart.apply(lambda row: createMeta(row),axis=1)
labels = dfPart.text.apply(lambda x: [])

In [6]:
dfPart.insert(1,'meta',meta)
dfPart.insert(2,'labels',labels)

In [7]:
dfPart.head(2)

,ids,meta,labels,year,title,text,textLength,wordOccurance
0,tg1736.wmbd.0,"{'ids': 'tg1736.wmbd.0', 'year': 1932, 'title'...",[],1932,Der Floh,\n\n Der Floh\n\n...,214,"{'und': 0.037383177570093455, 'in': 0.02336448..."
1,tg1737.wg20.0,"{'ids': 'tg1737.wg20.0', 'year': 1932, 'title'...",[],1932,Das Lied von der Gleichgültigkeit,\n\n Das Lied von...,236,"{'der': 0.07203389830508475, 'mit': 0.07203389..."

In [8]:
dfPart = dfPart.drop(['year','ids','title','wordOccurance'],axis=1)

Select only those texts, which contain the german word for war `Krieg`

In [9]:
dfWar = dfPart[dfPart.text.str.contains('\sKrieg\s')]

In [10]:
dfWar.shape

(230, 4)

Export this dataset to JSON line format.

In [13]:
dataLAbels = pd.read_json('./data/doccano_corpus.json1',lines=True)

In [11]:
dfWar.to_json('./data/warCorpusTucholsky.jsonl',orient='records',lines=True)

In [24]:
dfWar[dfWar.textLength < 3000]

,meta,labels,text,textLength
2,"{'ids': 'tg1738.wjbn.0', 'year': 1932, 'title'...","[[188, 206, Title of piece of art], [146, 160,...",\n\n Fräulein Nie...,2470
11,"{'ids': 'tg1747.wjgv.0', 'year': 1932, 'title'...",[],\n\n Brief meines...,281
16,"{'ids': 'tg1752.wmxv.0', 'year': 1932, 'title'...",[],\n\n Recht muß Re...,262
17,"{'ids': 'tg1753.wm6v.0', 'year': 1932, 'title'...",[],\n\n Auf dem Nach...,2364
36,"{'ids': 'tg1772.wn13.0', 'year': 1932, 'title'...",[],\n\n Krieg gleich...,761
...,...,...,...,...
1625,"{'ids': 'tg1421.wh2b.0', 'year': 1929, 'title'...",[],\n\n Hat Mynona w...,1822
1662,"{'ids': 'tg623.wgr6.0', 'year': 1923, 'title':...",[],\n\n »Das will ke...,761
1683,"{'ids': 'tg27.wmpq.0', 'year': 1913, 'title': ...",[],\n\n An Arno Holz...,806
1726,"{'ids': 'tg145.wk8j.0', 'year': 1917, 'title':...",[],\n\n Die Sekt-Eul...,557
1734,"{'ids': 'tg153.whfg.0', 'year': 1917, 'title':...",[],\n\n Unterwegs 19...,2501

In [16]:
dfWar.labels.iloc[0] = dataLAbels.labels.iloc[0]

/home/mvogl/Dokumente/GMPG/Lehre/Books-as-knowledge-reservoirs/env/lib/python3.7/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/home/mvogl/Dokumente/GMPG/Lehre/Books-as-knowledge-reservoirs/env/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [26]:
dfWar[dfWar.textLength < 3000][:100].to_json('./data/warCorpusTucholsky.jsonl',orient='records',lines=True)